@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@font-face {
  font-family: 'Nasalization';
  src: url("nasalization-rg.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

canvas {
  background: #000000;
  height: 100%;
  display: block;
}

.overlay {
  background-color: rgba(77, 77, 77, 0.75);
  color: white;
  opacity: .3;
  position: absolute;
  left: 5px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 250ms opacity;
  transition: 250ms opacity;
  width: 25vw;
  min-width: 250px;
  top: 5px;
  max-height: 85%;
  padding: 8px 0;
}

.overlay:hover {
  opacity: 1.0;
}

.overlay h2 {
  display: inline-block;
  margin: 0 0 0 5px;
  cursor: pointer;
  width: 2ex;
}

.overlay h3 {
  font-family: 'Nasalization' !important;
  margin: 0 auto;
  margin-top: -1.5em;
}

.overlay #game_objects {
  overflow: auto;
  max-height: 50vh;
}

.overlay .game_settings {
  background-color: rgba(0, 0, 0, 0.03);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 8px 8px 0 8px;
}

.overlay .game_settings button {
  width: 50%;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.overlay .game_settings button:active {
  background-color: grey;
}

.overlay .game_settings label {
  font-size: 1.1rem;
}

.overlay .game_settings label p {
  display: inline;
  margin: 0;
}

.overlay .game_settings label p::after {
  content: ' ';
  width: 1ex;
  display: inline-block;
}

.overlay .game_settings label input[type=checkbox] {
  cursor: pointer;
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  outline: none;
  width: 15px;
  height: 15px;
  top: 0;
}

.overlay .game_settings label input[type=checkbox]::before {
  content: '';
  position: absolute;
  top: 0;
  right: 2px;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px solid rgba(127, 12, 235, 0.7);
  border-radius: 4px;
}

.overlay .game_settings label input[type=checkbox]:checked:before {
  content: '';
  background-color: #7f0ceb;
}

.overlay .game_settings label input[type=checkbox]:focus {
  outline: none;
}

.overlay .game_settings label input[type=checkbox]::-moz-focus-outer {
  border: none;
}

.overlay .game_settings label input[type=range] {
  cursor: pointer;
  width: 100%;
  background-color: #7f0ceb;
  border-radius: 10px;
}

.overlay .game_settings label input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.overlay .game_settings label input[type=range]:focus {
  outline: none;
}

.overlay .game_settings label input[type=range]::-moz-focus-outer {
  border: none;
}

.overlay .game_settings label input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  border: 0;
  height: 12px;
  width: 12px;
}

.overlay .game_settings label input[type=range]::-moz-range-thumb {
  background-color: white;
  border: 0;
  height: 12px;
  width: 12px;
}

.overlay .game_settings label input[type=range] ::-ms-thumb {
  background-color: white;
  border: 0;
  height: 12px;
  width: 12px;
}

.overlay .game_settings label input[type=range]::-webkit-slider-runnable-track {
  background-color: #7f0ceb;
  border-radius: 10px;
}

.overlay .game_settings label input[type=range]::-moz-range-track {
  background-color: #7f0ceb;
  border-radius: 10px;
}

.overlay .game_settings label input[type=range]::-ms-track {
  background-color: #7f0ceb;
  border-radius: 10px;
}

.overlay .game_settings .sliders p {
  display: block;
}

.overlay #game_objects button {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
}

.overlay .object {
  border-top: 1px solid grey;
  background-color: rgba(0, 0, 0, 0.05);
}

.overlay .object:nth-last-child(1) {
  border-bottom: 1px solid grey;
}

.overlay .object:hover, .overlay .object:focus-within {
  background-color: rgba(0, 0, 0, 0.1);
}

.overlay .object label {
  display: block;
  cursor: pointer;
  width: 100%;
}

.overlay .object button {
  width: 55px !important;
  background-color: red;
  color: white;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.overlay .object button:active {
  background-color: red;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.overlay .object #characteristics {
  margin: 8px 0;
  padding-left: 20px;
  list-style-type: none;
}

.overlay .object #characteristics li {
  padding: 4px 0;
}

.github {
  background-color: rgba(77, 77, 77, 0.75);
  color: white;
  opacity: .3;
  position: absolute;
  left: 5px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 250ms opacity;
  transition: 250ms opacity;
  bottom: 5px;
  padding: 4px;
}

.github:hover {
  opacity: 1.0;
}

.github a {
  color: inherit;
  font-size: 1.6rem;
  text-decoration: none;
}

.github:hover a {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */