@font-face {
    font-family: 'Nasalization';
    src: url('nasalization-rg.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas {
    background: #000000;
    // width: 100%;
    height: 100%;
    display: block;
}

@mixin hud {
    $color: rgb(77, 77, 77);
    background-color: rgba($color, 0.75);
    color: white;
    opacity: .3;
    position: absolute;
    left: 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    transition: 250ms opacity;

    &:hover {
        opacity: 1.0;
    }
}

.overlay {
    @include hud;
    width: 25vw;
    min-width: 250px;
    top: 5px;
    max-height: 85%;
    padding: 8px 0;

    h2 {
        display: inline-block;
        margin: 0 0 0 5px;
        cursor: pointer;
        width: 2ex;
    }

    h3 {
        font-family: 'Nasalization' !important;
        margin: 0 auto;
        margin-top: -1.5em;
    }

    #game_objects {
        overflow: auto;
        max-height: 50vh;
    }

    .game_settings {
        background-color: rgba(black, 0.03);
        border: .5px solid rgba(black, 0.2);
        border-radius: 3px;
        padding: 4px;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 8px 8px 0 8px;

        button {
            width: 50%;
            background-color: white;
            box-sizing: border-box;
            border-radius: 3px;

            &:active {
                background-color: grey;
            }
        }

        label {
            font-size: 1.1rem;
            $color: rgb(127, 12, 235);

            p {
                display: inline;
                margin: 0;

                &::after {
                    content: ' ';
                    width: 1ex;
                    display: inline-block;
                }
            }

            input[type=checkbox] {
                cursor: pointer;
                position: relative;
                display: inline-block;
                -webkit-appearance: none;
                outline: none;
                $dimension: 15px;
                width: $dimension;
                height: $dimension;
                top: 0;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 2px;
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    border: 2px solid rgba(rgb(127, 12, 235), 0.7);
                    border-radius: 4px;
                }

                &:checked:before {
                    content: '';
                    background-color: $color;
                }

                &:focus {
                    outline: none;
                }

                &::-moz-focus-outer {
                    border: none;
                }
            }

            input[type=range] {
                cursor: pointer;
                width: 100%;
                background-color: $color;
                border-radius: 10px;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                }

                &:focus {
                    outline: none;
                }

                &::-moz-focus-outer {
                    border: none;
                }

                @mixin range-thumb {
                    background-color: white;
                    border: 0;
                    $dimension: 12px;
                    height: $dimension;
                    width: $dimension;
                }

                @mixin range-slider {
                    background-color: $color;
                    border-radius: 10px;
                }

                &::-webkit-slider-thumb{
                    -webkit-appearance: none;
                    appearance: none;
                    @include range-thumb;
                }

                &::-moz-range-thumb {
                    @include range-thumb;
                }

                ::-ms-thumb {
                    @include range-thumb;
                }

                &::-webkit-slider-runnable-track {
                    @include range-slider;
                }

                &::-moz-range-track {
                    @include range-slider;
                }

                &::-ms-track {
                    @include range-slider;
                }
            }
        }

        .sliders {
            p {
                display: block;
            }
        }
    }

    #game_objects {
        button {
            $dimension: 20px;
            width: $dimension;
            height: $dimension;
            padding: 0;
            border: 0;
        }
    }

    .object {
        border-top: 1px solid grey;
        background-color: rgba(black, 0.05);

        &:nth-last-child(1) {
            border-bottom: 1px solid grey;
        }

        &:hover, &:focus-within {
            background-color: rgba(black, 0.1);
        }

        label {
            display: block;
            cursor: pointer;
            width: 100%;
        }

        #characteristics {
            margin: 8px 0;
            padding-left: 20px;
            list-style-type: none;
        }
    }
}

.github {
    @include hud;
    bottom: 5px;
    padding: 4px;

    a {
        color: inherit;
        font-size: 1.6rem;
        text-decoration: none;
    }

    &:hover a {
        text-decoration: underline;
    }
}