@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@font-face {
  font-family: 'Nasalization';
  src: url("nasalization-rg.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

canvas {
  background: #111;
  display: block;
}

.overlay {
  width: 20vw;
  min-width: 200px;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: .3;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: auto;
  -webkit-transition: 250ms opacity;
  transition: 250ms opacity;
}

.overlay:hover {
  opacity: 1.0;
}

.overlay h3 {
  font-family: 'Nasalization' !important;
  text-align: center;
}

.overlay .game_settings {
  background-color: rgba(0, 0, 0, 0.03);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 2px 8px;
}

.overlay .game_settings button {
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.overlay .game_settings label {
  font-size: 1.1rem;
}

.overlay .game_settings label p {
  display: inline;
  margin: 0;
}

.overlay .game_settings label input[type=checkbox] {
  cursor: pointer;
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  outline: none;
  width: 15px;
  height: 15px;
  top: 0;
}

.overlay .game_settings label input[type=checkbox]::before {
  content: '';
  position: absolute;
  top: 0;
  right: 2px;
  width: 100%;
  height: 100%;
  background-color: black;
  border: 2px solid black;
  border-radius: 4px;
}

.overlay .game_settings label input[type=checkbox]:hover:before {
  content: '';
  background-color: #282828;
}

.overlay .game_settings label input[type=checkbox]:checked:before {
  content: '';
  background-color: white;
}

.overlay .game_settings label input[type=checkbox]:focus {
  outline: none;
}

.overlay .game_settings label input[type=checkbox]::-moz-focus-outer {
  border: none;
}

.overlay .game_settings label input[type=range] {
  cursor: pointer;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.overlay .game_settings label input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.overlay .game_settings label input[type=range]:focus {
  outline: none;
}

.overlay .game_settings label input[type=range]::-moz-focus-outer {
  border: none;
}

.overlay .game_settings label input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  border: 0;
  height: 12px;
  width: 12px;
}

.overlay .game_settings label input[type=range]::-moz-range-thumb {
  background-color: white;
  border: 0;
  height: 12px;
  width: 12px;
}

.overlay .game_settings label input[type=range] ::-ms-thumb {
  background-color: white;
  border: 0;
  height: 12px;
  width: 12px;
}

.overlay .game_settings label input[type=range]::-webkit-slider-runnable-track {
  background-color: black;
  border-radius: 10px;
}

.overlay .game_settings label input[type=range]::-moz-range-track {
  background-color: black;
  border-radius: 10px;
}

.overlay .game_settings label input[type=range]::-ms-track {
  background-color: black;
  border-radius: 10px;
}

.overlay .game_settings .sliders p {
  display: block;
}
/*# sourceMappingURL=style.css.map */